<!DOCTYPE html>
<html>
  <head>
    <title> Lecture Info Site Application </title>
    <meta charset="utf-8">
    <link rel = "stylesheet" type="text/css" href = '{{url_for('static', filename = 'style.css')}}'>
  </head>
  <body>
    <div class = "main bar">
      <h1>This is body's h1!</h1>
    </div>
    <div class = "flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>

    <p>
      this is main html
    </p>
    <a href = '{{url_for('createCollege')}}'> Create New College </a></br>
    <a href = '{{url_for('addLecture')}}'> Make new lecture </a></br>
    <a href = '{{url_for('JSTest')}}'> Move to JS index file </a> </br>
    <a href = '{{url_for('showCollegeInfo')}}'> Move to College Info Site </a>


  </body>
</html>
