<!DOCTYPE html>
<html>
  <head>
    <title> New Lecture </title>
    <meta charset="utf-8">
    <link rel = "stylesheet" type="text/css" href = '{{url_for('static', filename = 'style.css')}}'>
  </head>
  <body>
    <div class = "main bar">
      <h1>Lecture Info Application</h1>
    </div>
    <div class = "new bar">
      <h2>Add New Lecture html</h2>
      <hr>
    </div>
    <div class = "container">
      <div class = "info">
        <p> College </p>
        <select name = "collegess">
            {% for col in name %}
            <option value = "college01"> {{col.name}} </option>
            {% endfor %}
        </select>
        <p> Name </p>
        <input type = 'text' style = 'height: 30px; width: 300px;' name = "name"> </p>
        <p> Professor </p>
        <input type = 'text' style = 'height: 30px; width: 300px;' name = "professor"> </p>
        <p> Description </p>
        <input type = 'text' style = 'height: 30px; width: 300px;' name = "description" </p>
      </div>
      <div>
        <input type = 'submit' value = 'Create' class = "button">
        <button type="button" onclick="window.location.href='{{ url_for( 'showMain' , table='Y' ) }}';" class = "button">Cancel</button>
      </div>
    </div>
  </body>
</html>
{% for col in name %}
    <div class = "college list">
      <b> {{col.name}} </b> </br>
    </div>
    {% endfor %}